{% extends 'layout.twig' %}

{% block body %}
<div class="container">
  <h2>Welcome, {% if loggedUser.name %}{{loggedUser.name}}{% else %}{{loggedUser.login}}{% endif %}!</h2>
  <div class="row">
    <div class="col">
      <div class="card stat-card bg-success">
        <div class="card-body">
          <span class="title">25°C</span>
          <span class="subtitle">Inside</span>
        </div>
        <div class="card-icon">
          <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stat-card bg-danger">
        <div class="card-body">
          <span class="title">4</span>
          <span class="subtitle">Devices</span>
        </div>
        <div class="card-icon">
          <i class="fa fa-microchip" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stat-card bg-warning">
        <div class="card-body">
          <span class="title">4582</span>
          <span class="subtitle">values</span>
        </div>
        <div class="card-icon">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stat-card bg-secondary">
        <div class="card-body">
          <span class="title">3</span>
          <span class="subtitle">Messages</span>
        </div>
        <div class="card-icon">
          <i class="fa fa-inbox " aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <canvas id="myLineChart" width="740" height="200"></canvas>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>
<script>
    function drawLineChart() {
  
      // Add a helper to format timestamp data
      Date.prototype.formatMMDDYYYY = function() {
          return (this.getMonth() + 1) +
          "/" +  this.getDate() +
          "/" +  this.getFullYear();
      }
  
      var jsonData = $.ajax({
        url: 'ajax/graph',
        dataType: 'json',
      }).done(function (results) {
        console.dir(results);
        // Create the chart.js data structure using 'labels' and 'data'
        var tempData = {
          type: 'line',
          data: results
        };
  
        // Get the context of the canvas element we want to select
        var ctx = document.getElementById("myLineChart");
  
        // Instantiate a new chart
        var myLineChart = new Chart(ctx, tempData);
      });
    }
  
    drawLineChart();
  </script>
{% endblock %}