{% extends 'layout.twig' %}

{% block body %}
<div class="jumbotron landing-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <h1 class="display-3">Home sensor measuring</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="mt-5">
          <a class="btn btn-primary btn-lg btn-responsive" href="/world" role="button">Explore our world &raquo;</a>
        </p>
      </div>
      <div class="col-12 col-md-5">
        <form class="landing-sign-up rounded d-none d-md-block"action="/sign/up" method="post">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control form-control-lg" name="login" id="login" placeholder="Choose login name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control form-control-lg" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="you@example.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control form-control-lg" name="password" id="exampleInputPassword1" placeholder="Create password">
            <small id="passwordHelp" class="form-text text-muted">Use at least one letter, one numeral, and seven characters.</small>
          </div>
          <button type="submit" class="btn btn-success bg-gradient-success btn-lg btn-block">Begin measuring</button>
          <p class="form-control-note mt-2 mb-0 text-center">By clicking "Begin measuring" you agree with our <a href="#">terms of service</a> and <a href="#">privacy policy</a>.</p>
        </form>
        <div class="d-md-none">
          <a href="/sign/up" class="btn btn-success bg-gradient-success btn-lg btn-block">Begin measuring &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing-bar bar-steps">
  <div class="container">
    <diw class="row">
      <div class="col">
        <div class="landing-widget">
          <div class="widget-icon">
            <i class="fa fa-thermometer-half" aria-hidden="true"></i>
          </div>
          <span class="widget-label">Measure with your device</span>
        </div>
      </div>
      <div class="col">
        <div class="landing-widget widget-bordered">
          <div class="widget-icon">
            <i class="fa fa-server" aria-hidden="true"></i>
          </div>
          <span class="widget-label">Send values to server</span>
        </div>
      </div>
      <div class="col">
        <div class="landing-widget">
          <div class="widget-icon">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
          </div>
          <span class="widget-label">Visualize &amp; Share</span>
        </div>
      </div>
    </diw>
  </div>
</div>
<div class="landing-section section-about" id="about">
  <div class="container">
    <div class="landing-section-heading">
        <h4 class="heading-label">About Caloriosa</h4>
        <h2 class="display-4">Gather and share your local temperature, humidity live</h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        Gather pic here
      </div>
      <div class="col">
        <h3 class="text-primary">Lorem Ipsum</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
            in reprehenderit in voluptate velit esse cillum dolore 
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt 
            mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h3 class="text-success">Dolor sit amet</h3>
          <p>
              Sed ut perspiciatis unde omnis iste natus error sit 
              voluptatem accusantium doloremque laudantium, 
              totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
              et quasi architecto beatae vitae dicta sunt explicabo. 
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
              sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
      </div>
      <div class="col-12 col-md-6">
        Share pic here
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        Live pic here
      </div>
      <div class="col">
        <h3 class="text-danger">At vero eos et accusamus</h3>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus 
            qui blanditiis praesentium voluptatum deleniti atque corrupti 
            quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
            similique sunt in culpa qui officia deserunt mollitia animi, 
            id est laborum et dolorum fuga.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="landing-section section-howitworks" id="howitworks">
  <div class="container">
    <div class="landing-section-heading">
      <h4 class="heading-label">How it works</h4>
      <h2 class="display-4">Setup your device and begin measuring</h2>
    </div>
    <div class="text-center">
      Pic here
    </div>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
      in reprehenderit in voluptate velit esse cillum dolore 
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
      non proident, sunt in culpa qui officia deserunt 
      mollit anim id est laborum.
    </p>
    <p class="mt-5 text-center">
      <a class="btn btn-outline-light btn-lg btn-responsive" href="/more" role="button">Learn more &raquo;</a>
    </p>
  </div>
</div>
<div class="landing-section section-explore" id="explore">
  <div class="container">
    <div class="landing-section-heading">
      <h4 class="heading-label">Explore</h4>
      <h2 class="display-4">See our Caloriosa world</h2>
    </div>
    <div class="text-center">
      Pic here
    </div>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip ex ea commodo consequat. 
    </p>
    <p class="mt-5 text-center">
      <a class="btn btn-primary btn-lg btn-responsive" href="/world" role="button">Explore our world &raquo;</a>
      <a class="btn btn-warning btn-lg btn-responsive" href="/cloud" role="button">Tag cloud &raquo;</a>
    </p>
  </div>
</div>
<div class="landing-bar bar-devices" id="devices">
  <div class="container">
    <div class="landing-section-heading text-center">
        <h2 class="display-4">Supported devices</h2>
    </div>
    <div class="logos text-center">
      <img src="https://forum.pine64.org/images/pine64_logo.png" alt="pine64" />
      <img src="https://ukbaz.github.io/asset/raspberry-logo.png" width="248" alt="raspberrypi" />
      <span class="andmore">And more ...</span>
    </div>
  </div>
</div>
<div class="landing-section section-faq" id="faq">
  <div class="container">
    <div class="landing-section-heading">
      <h4 class="heading-label">Faq</h4>
      <h2 class="display-4">Frequently asks & questions</h2>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="question">Question 1</h4>
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col">
        <h4 class="question">Question 2</h4>
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="question">Question 3</h4>
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col">
        <h4 class="question">Question 4</h4>
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="landing-section section-signup">
  <div class="container">
    <div class="landing-section-heading">
      <h2>Join us today!</h2>
    </div>
    <form class="form-inline justify-content-center" action="/sign/up" method="post">
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="sr-only" for="login">Login</label>
        <input type="text" class="form-control form-control-lg" name="login" id="login" placeholder="Choose login name">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="sr-only" for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control form-control-lg" name="email" id="email" aria-describedby="emailHelp" placeholder="Your email address">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <label class="sr-only" for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Create password">
      </div>
      <button type="submit" class="btn btn-success">Begin measuring</button>
    </form>
    <p class="form-control-note mt-2 mb-0 text-center">By clicking "Begin measuring" you agree with our <a href="#">terms of service</a> and <a href="#">privacy policy</a>.</p>
  </div>
</div>
{% endblock %}