<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="page {{bodyclass}}" id="caloriosa">
      {% block fullbody %}
      {% if loggedUser %}
        {% include 'snippets/navbar-logged.twig' %}
      {% else %}
        {% include 'snippets/navbar.twig' %}
      {% endif %}
      <div class="content">
        {% include 'snippets/flashes.twig' %}
        {% block body %}{% endblock %}
      </div>
      <footer class="footer-area">
        <div class="container">
          <p>Caloriosa</p>
        </div>
      </footer>
      {% endblock %}
      <script src="/vendor/jquery.min.js"></script>
      <script src="/vendor/bootstrap.bundle.min.js"></script>
      <script src="/javascripts/main.js"></script>
  </body>
</html>
