{% extends 'layout.twig' %}

{% block body %}
<div id="app" class="container">
  
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/dist/dashboard.bundle.js"></script>
{% endblock %}