{% extends 'layout.twig' %}

{% block body %}
<div id="dashboard" class="container">
    <div class="loading text-center mt-4 mb-4">
        <noscript>Please enable JavaScript for display dashboard.</noscript>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/dist/dashboard.bundle.js"></script>
{% endblock %}