body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  background-color: #eee;
}

h1, h2, h3 {
  margin: 0.25em 0;
}

.content {
  min-height: 100%;
  box-sizing: border-box;
}

.footer-area {
  padding: 1em 0;
  color: $gray-800;
  font-size: 14px;
}

.thead-purple {
  background: $purple;
}

.nav-item-search {
  padding: 0.25em 0;
  .searchbar {
    margin: 0 1.25em;
  }
}

.general-alert {
  margin: 2em 0;
}

/* Snippets */
@import "snippets/login.scss";
@import "snippets/error.scss";
@import "snippets/userbar.scss";
@import "snippets/profile.scss";
@import "snippets/statcard.scss";