/**
 * Main theme
 * Autor: PurrplingCat
 */

$font-color: darken($dark, 4%);
$font-color-light: lighten($dark, 10%);
$font-color-veil: lighten($dark, 25%);
$font-color-air: lighten($dark, 50%);

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  color: $font-color;
  background-color: $white;
}

h1, h2, h3 {
  margin: 0.25em 0;
}

@media (max-width: 768px) {
  .btn-responsive, .form-control-responsive {
      width:100% !important;
  }
}

.content {
  min-height: 100%;
  box-sizing: border-box;
}

.footer-area {
  padding: 1em 0;
  color: $gray-800;
  font-size: 14px;
}

.thead-purple {
  background: $purple;
}

.navbar {
  border-bottom: 1px solid darken($dark, 12%);
  @include box-shadow(0px, 1px, 5px, darken($dark, 12%));
}

.nav-item-search {
  padding: 0.25em 0;
  .searchbar {
    margin: 0 1em;
    .form-control {
      background: rgba(255, 255, 255, 0.030);
      border-color: rgba(255, 255, 255, 0.100);
      width: 15em;
      color: rgba(255, 255, 255, 0.850);
    }
    .input-group-addon {
      background: transparent;
      border-color: rgba(255, 255, 255, 0.150);
    }
  }
} 

.general-alert {
  margin: 2em 0;
}

.form-control-note {
  color: lighten($dark, 30%);
  font-size: 0.8em;
}

.navbar-brand img {
  margin-bottom: 5px;
}

/* Theme snippets */
@import "snippets/login.scss";
@import "snippets/error.scss";
@import "snippets/userbar.scss";
@import "snippets/profile.scss";
@import "snippets/statcard.scss";
@import "snippets/landingpage.scss";