{% extends 'layout.twig' %} 
{% set bodyclass="register-page" %}

{% block body %}
<div class="container mt-4">
  <h2>Join Caloriosa</h2>
  <p class="lead">And begin your measuring today!</p>
  <ol class="steps">
    <li class="current">
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
      <strong class="step">Step 1:</strong>
      Create account
    </li>
    <li>
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <strong class="step">Step 2:</strong>
      Verify your email
    </li>
    <li>
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <strong class="step">Step 3:</strong>
      Sign in &amp; Begin measuring
    </li>
  </ol>
  {% include 'snippets/flashes.twig' %}
  <div class="row">
    <div class="col-12 col-md">
      <form class="rounded" action="/sign/up" method="post" id="register-form" novalidate>
        {% if errors %}
        {% for error in errors %}
        <div class="alert alert-danger">
          {{error.msg}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control form-control-lg" name="login" id="login" placeholder="Choose login name" {% if fill.login %}value="{{fill.login}}"{% endif %} required pattern="[A-z0-9]{6,}">
          <div class="invalid-feedback">
            Please choose your login name about <b>6 chars</b> or more. Only alphanumeric chars is allowed!
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control form-control-lg" name="email" id="email" aria-describedby="emailHelp" placeholder="you@example.com" {% if fill.email %}value="{{fill.email}}"{% endif %} required pattern="^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-.]+\.[a-zA-Z0-9-]{2,}$">
          <div class="invalid-feedback">
            Please enter your valid email.
          </div>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Create password" required pattern=".{8,}">
          <div class="invalid-feedback">
            Password must have <b>8 chars</b> or more.
          </div>
          <small id="passwordHelp" class="form-text text-muted">Use at least one letter, one numeral, and seven characters.</small>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Begin measuring</button>
        <p class="mt-4 mb-4 mb-0">By clicking "Begin measuring" you agree with our
          <a href="#">terms of service</a> and
          <a href="#">privacy policy</a>.</p>
      </form>
    </div>
    <div class="col-md d-none d-md-block">
        <div class="card features-list">
            <div class="card-body">
              <h4 class="card-title">Begin measuring today!</h4>
              <p class="card-text">
                <strong>Unlimited</strong> devices<br />
                <strong>Unlimited</strong> collected values
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-check text-success" aria-hidden="true"></i> Manage your own devices</li>
              <li class="list-group-item"><i class="fa fa-check text-success" aria-hidden="true"></i> Define specific sensors</li>
              <li class="list-group-item"><i class="fa fa-check text-success" aria-hidden="true"></i> Collect measured values</li>
              <li class="list-group-item"><i class="fa fa-check text-success" aria-hidden="true"></i> Graph &amp; table reports</li>
            </ul>
          </div>
    </div>
  </div>
</div>
{% endblock %}