{% extends 'layout.twig' %} 
{% set bodyclass="register-page" %}

{% block body %}
<div class="container mt-4">
  <h2>Verify your email</h2>
  <p class="lead">Verify email address and activate your account!</p>
  <ol class="steps">
    <li>
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
      <strong class="step">Step 1:</strong>
      Create account
    </li>
    <li class="current">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <strong class="step">Step 2:</strong>
      Verify your email
    </li>
    <li>
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <strong class="step">Step 3:</strong>
      Sign in &amp; Begin measuring
    </li>
  </ol>
  {% include 'snippets/flashes.twig' %}
  <p class="lead mb-4 thank-you text-center">
    Check your email and verify your account with an activation link or put your code bellow:
  </p>
  <form action="verify" method="get" id="register-form" novalidate>
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger">
      {{error.msg}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
      <label class="col-12 col-md-3 col-form-label" for="activation-code">Activation code: </label>
      <div class="col-12 col-md-9 form-group">
        <input type="text" class="form-control" name="key" id="activation-code" placeholder="Put your activation code" required>
        <div class="invalid-feedback">
          Invalid activation code!
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12 text-right">
      <button type="submit" class="btn btn-primary">Activate</button>
      <a class="btn btn-outline-secondary" href="resend">Resend e-mail</a>
      </div>
    </div>
  </form>
  <p class="mt-4 text-muted">Check your email-address for activation code. No email recieved? Please wait few minutes, emails can be delayed. Still not recieved? Check your spam folder or <a href="resend">Resend activation code</a>.</p>
</div>
{% endblock %}