.landing-nav {
  min-height: 5em;
}

.landing-nav .navbar-brand {
  font-size: 26px;
}

.landing-nav .landing-menu {
  font-size: 18px;
}

.landing-jumbotron {
  background: lighten(theme-color('dark'),5%);
  color: $white;
  border-radius: 0;
  border-bottom: 1px solid darken($dark, 5%);
  h1, h2, h3 {
    text-shadow: 1px 1px 5px darken(theme-color('dark'), 2%);
  }
  p.lead {
    font-size: 28px;
    color: rgba(255,255,255,0.9);
  }
}

.landing-sign-up {
  padding: 1.75em 2.25em;
  background: $white;
  color: $font-color-light;
  box-shadow: 1px 2px 10px darken(theme-color('dark'), 5%);
}