.landing-nav {
  min-height: 5em;
}

.landing-nav .navbar-brand {
  font-size: 26px;
}

.landing-nav .landing-menu {
  font-size: 18px;
}

.landing-jumbotron {
  margin: 0;
  background: lighten(theme-color('dark'),5%);
  background: linear-gradient(lighten(theme-color('dark'),3%),lighten(theme-color('dark'),6%));
  color: $white;
  border-radius: 0;
  border-bottom: 1px solid darken($dark, 25%);
  h1, h2, h3 {
    text-shadow: 1px 1px 5px darken(theme-color('dark'), 2%);
  }
  p.lead {
    font-size: 28px;
    color: rgba(255,255,255,0.9);
  }
}

.landing-sign-up {
  padding: 1.75em 2.25em;
  background: $white;
  color: $font-color-light;
  box-shadow: 1px 2px 10px darken(theme-color('dark'), 5%);
}

.landing-bar {
  padding: 2em 0;
  background: lighten(color("gray"), 35%);
}

.landing-bar.bar-devices {
  color: darken(color("gray"), 30%);
  h2 {
    font-size: 2.5em;
  }
  .logos {
    padding: 2em 0;
    img {
      margin: 0 1em;
    }
    .andmore {
      margin-top: 2.5em;
      font-size: 1em;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: darken(color("gray"), 15%);
      display: block;
      color: darken(color("gray"), 40%);
    }
  }
}

.landing-widget {
  color: darken(color("gray"), 10%);
  text-align: center;
  .widget-icon {
    font-size: 5.5em;
    margin-bottom: 0.15em;
  }
  .widget-label {
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.landing-widget.widget-bordered {
  border-left: 1px solid lighten(color("gray"), 25%);
  border-right: 1px solid lighten(color("gray"), 25%);
}

.landing-section {
  padding: 2em 0;
  font-size: 18px;
  .landing-section-heading {
    padding: 2em 0;
    text-align: center;
  }
  .heading-label {
    font-size: 16px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: color("gray");
  }
  h2 {
    padding: 0.5em 2em;
  }
  p {
    padding: 1em 0;
    line-height: 1.75em;
  }
  h1, h2 {
    text-shadow: 0px 1px 1px lighten(theme-color('dark'), 25%);
  }
}

.landing-section.section-about {
  .landing-section-heading {
    h1, h2 {
      border-bottom: 1px solid darken($light, 6%);
    }
  }
  h3 {
    letter-spacing: 2px;
  }
}

.landing-section.section-howitworks {
  background: darken($dark, 10%);
  color: $white;
  border-top: 1px solid darken($dark, 12%);
  border-bottom: 1px solid darken($dark, 12%);
  @include box-shadow(2px, 1px, 5px, darken($dark, 12%));
  .heading-label {
    color: rgba(255, 255, 255, 0.710);
  }
  p {
    color: rgba(255, 255, 255, 0.900);
    text-align: center;
  }
  .landing-image {
    text-align: center;
  }
}

.landing-section.section-explore {
  .landing-section-heading {
    h1, h2 {
      border-bottom: 1px solid darken($light, 6%);
    }
  }
}

.landing-section.section-faq {
  background: $info;
  color: $white;
  border-top: 1px solid darken($info, 12%);
  border-bottom: 1px solid darken($info, 12%);
  @include box-shadow(2px, 1px, 5px, darken($info, 12%));
  .heading-label {
    color: rgba(255, 255, 255, 0.710);
  }
  h4 {
    text-decoration: underline;
    line-height: 1.5em;
  }
}