.landing-nav {
  min-height: 5em;
}

.landing-nav .navbar-brand {
  font-size: 26px;
}

.landing-nav .landing-menu {
  font-size: 18px;
}

.landing-jumbotron {
  p.lead {
    font-size: 28px;
  }
}

.landing-sign-up {
  padding: 2em;
  background: $white;
}